@use "../helpers" as *;

.content-grid {
  padding-block: fluid(80, 140);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(24);

    @include large {
      flex-direction: column;
    }
  }

  &__content {
    flex: 0 1 rem(560);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include large {
      flex: 0 1 auto;
    }
  }

  &__badge {
    margin-bottom: rem(24);
  }

  &__title {
    margin-bottom: rem(16);
  }

  &__items {
    flex: 0 1 rem(790);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: rem(210);
    gap: fluid(10, 20);

    @include large {
      flex: 0 1 auto;
    }

    @include small {
      grid-template-columns: repeat(2, 1fr);
    }

    @include x-small {
      grid-auto-rows: auto;
    }
  }

  &__item {
    border-radius: var(--radius-lg);
    background-color: var(--color-white);
    box-shadow: 0 6px 15px 0 rgba(11, 54, 84, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    row-gap: rem(5);
    text-align: center;
    padding: rem(40) rem(16);

    @include x-small {
      border-radius: var(--radius-md);
      padding: rem(20) rem(16);
    }
  }

  &__item-icon {
    width: fluid(32, 52);
    height: fluid(32, 52);
    object-fit: contain;
  }
}
