@use "../helpers" as *;

.content-numbers {
  padding-block: fluid(80, 140);
  position: relative;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: rem(24);

    @include large {
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
    }
  }

  &__content {
    flex: 0 1 rem(596);
    @include large {
      flex: 0 1 auto;

      display: contents;
    }
  }

  &__badge {
    display: inline-block;
    max-width: max-content;
    margin-bottom: rem(24);

    @include large {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: fluid(24, 32);

    @include large {
      margin-bottom: 0;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: var(--radius-lg);
    max-width: rem(700);
    margin-inline: auto;

    @include large {
      order: 3;
    }

    @include x-small {
      max-width: rem(275);
      margin-left: auto;
      margin-right: unset;
    }
  }

  &__grid {
    flex: 0 1 rem(750);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: fluid(10, 20);

    @include large {
      flex: 0 1 auto;
    }

    @include small {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    border-radius: var(--radius-lg);
    background-color: var(--color-white);
    box-shadow: 0 6px 15px 0 rgba(11, 54, 84, 0.1);
    padding: fluid(16, 40) fluid(16, 24);
    display: flex;
    align-items: flex-start;
    column-gap: rem(16);
  }

  &__item-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fluid(40, 60);
    height: fluid(40, 60);
    background-color: var(--color-secondary);
    border-radius: var(--radius-full);
    font-size: fluid(14, 20);
    flex-shrink: 0;
    font-family: var(--font-family-accent);
    font-weight: 600;
    line-height: 1.1;
  }

  &__item-title {
    span {
      font-size: fluid(14, 16);
      font-weight: 400;
    }
  }

  &__background {
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: rem(362);

    @media (max-width: rem(1700)) {
      width: rem(290);
    }

    @include small {
      width: rem(200);
    }

    @include x-small {
      width: rem(140);
      bottom: fluid(80, 140);
    }
  }
}
