@use "../helpers" as *;

.dark-section {
  background-color: var(--color-primary);
  padding-block: fluid(32, 80);
  position: relative;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(24);

    @include medium {
      flex-direction: column;
    }
  }

  &__content {
    flex: 0 1 rem(560);

    @include medium {
      flex: 0 1 auto;
    }
  }

  &__title {
    color: var(--color-white);
    margin-bottom: fluid(16, 24);
  }

  &__text {
    color: var(--color-white);
    font-size: rem(16);
    line-height: 1.5;
    margin-bottom: rem(16);
  }

  &__list-title {
    color: var(--color-white);
    font-size: fluid(16, 24);
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: rem(10);
    margin-block: fluid(16, 36);
    max-width: rem(473);
  }

  &__list-item {
    border-radius: var(--radius-md);
    border: rem(1) solid rgba(255, 255, 255, 0.08);
    background-color: rgba(255, 255, 255, 0.05);
    padding: rem(12) fluid(16, 24);
    display: flex;
    align-items: center;
    column-gap: rem(14);
  }

  &__list-item-icon {
    width: fluid(32, 52);
    height: fluid(32, 52);
    object-fit: contain;
    flex-shrink: 0;
  }

  &__list-item-title {
    color: var(--color-white);
    font-family: var(--font-family-accent);
  }

  &__list-bottomtitle {
    color: var(--color-white);
    font-size: fluid(16, 24);
    display: flex;
    align-items: center;
    column-gap: rem(13);
    margin-bottom: rem(16);

    &::before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2222%22%20viewBox%3D%220%200%2024%2022%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M0%205.743c0-.438.32-.773.738-.773h10.137V.767l.008-.114a.78.78%200%200%201%20.41-.583.68.68%200%200%201%20.788.13l10.875%209.9a.787.787%200%200%201%200%201.187L12.081%2021.19a.68.68%200%200%201-.787.128h-.001a.78.78%200%200%201-.41-.582l-.008-.114v-4.203H.738c-.418%200-.738-.335-.738-.773z%22%20fill%3D%22%23f7be45%22%2F%3E%3C%2Fsvg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: rem(24);
      height: rem(22);
      flex-shrink: 0;
    }
  }

  &__bottom-text {
    color: var(--color-white);
  }

  &__image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: var(--radius-lg);
    }
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    object-fit: cover;
    display: block;

    @include medium {
      height: auto;
      top: unset;
      bottom: 0;
      max-width: rem(500);
    }

    @include x-small {
      max-width: 70%;
    }
  }
}
