@use "../helpers" as *;

.header {
  padding-block: fluid(15, 24);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transition: all var(--transition-base);

  &.is-scrolled {
    background-color: var(--color-primary-transparent);
    backdrop-filter: blur(5px);

    @include above-medium {
      padding-block: rem(15);
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(32);
  }

  &__logo-image {
    max-width: fluid(116, 257);
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
