@use "../helpers" as *;

.hero {
  padding-top: rem(74);

  @include small {
    padding-top: rem(125);
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__container {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include small {
      flex-direction: column;
    }
  }

  &__content {
    flex: 0 1 rem(722);
    padding-bottom: rem(50);

    @include small {
      flex: 0 1 auto;
      padding-bottom: 0;
    }
  }

  &__title {
    margin-bottom: fluid(16, 20);
  }

  &__text {
    color: var(--color-white);
    font-size: fluid(16, 18);
    line-height: 1.333;
    margin-bottom: fluid(24, 40);
  }

  &__buttons {
    display: flex;
    column-gap: fluid(8, 16);
  }

  &__button {
  }

  &__image {
    flex: 0 1 rem(658);
    margin-right: rem(-40);

    @include small {
      flex: 0 1 auto;
      margin-right: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}
