@forward "footer";
@forward "header";  
@forward "button";
@forward "hero";
@forward "content-grid";
@forward "section-badge";
@forward "industries";
@forward "slider-button";
@forward "slider-pagination";
@forward "back-top-button";
@forward "base-slider";
@forward "cta";
@forward "content-numbers";