@use "../helpers" as *;

.industries {
  padding-top: fluid(32, 80);
  position: relative;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fluid(286, 484);
    object-fit: cover;
  }

  &__container {
    position: relative;
    z-index: 2;
    padding-right: 0;
  }

  &__header {
    margin-bottom: fluid(24, 70);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: rem(60);
    padding-right: rem(20);
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: rem(24);
  }

  &__badge {
  }

  &__title {
  }

  &__navigation {
    display: flex;
    column-gap: rem(8);
  }

  &__body {
  }

  &__slider {
    overflow: hidden;
    height: fluid(322, 432);
  }

  &__slider-wrapper {
    align-items: flex-start !important;
  }

  &__slide {
    border-radius: var(--radius-lg);
    overflow: hidden;
    transition: all 0.4s ease;

    &:not(.swiper-slide-active) {
      height: fluid(216, 364) !important;
    }
    &.swiper-slide-active {
      width: fluid(220, 494) !important;
    }
  }

  &__slide-title {
    background-color: var(--color-white);
    border-radius: var(--radius-xl);
    padding: fluid(6, 10) rem(16);
    text-align: center;
    font-size: fluid(10, 14);
    position: absolute;
    right: fluid(8, 24);
    top: fluid(8, 24);
  }

  &__slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__pagination {
  }
}
