@use "../helpers/" as *;

.modal {
  --popups-width: #{rem(484)};


  position: fixed;
  inset: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 32, 53, 0.60);
  backdrop-filter: blur(25px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease;
  padding: rem(50) 0;
  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    .modal__content {
      opacity: 1;
    }
  }
  &__main {
    position: relative;
    max-width: var(--popups-width);
width: 100%;
  }
  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 rem(16);
  }
  &__inner {
    width: 100%;
    max-height: 85vh;
    max-height: 85dvh;
    overflow: auto;
    display: inline-block;
    border-radius: rem(20);
  }
  &__content {
    padding: rem(40);
    background-color: #f8f5f4;
    border-radius: rem(32);
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 100%;
    position: relative;
  }
  &__title {
    color: var(--color-primary);
    text-align: center;
    font-size: fluid(36, 50);
    font-weight: 600;
    line-height: 1;
    letter-spacing: -1.5px;
    margin-bottom: rem(20);
  }
  &__form {
  }
  &__close {
    position: absolute;
    right: rem(-32);
    top: rem(-32);
    z-index: 10;
    @media (any-hover: hover) {
      &:hover {
        & svg {
          color: rgb(179, 0, 0);
        }
      }
    }
    svg {
      pointer-events: none;
      width: rem(30);
      height: rem(30);
      color: #fff;
    }
  }
}
