@use "../helpers" as *;

.section-badge {
  padding: rem(8) rem(16);
  text-align: center;
  font-size: fluid(12, 14);
  font-weight: 600;
  line-height: 1.14;
  background-color: var(--color-white);
  text-transform: uppercase;
  border-radius: var(--radius-xl);
  display: block;
  
  &--secondary {
    background-color: var(--color-secondary);
  }
}
