<footer class="footer">
  <div class="footer__container container">
    <div class="footer__left">
      <div class="footer__left-content">
        <h2 class="footer__title heading-lg">Your Partner in Growth</h2>
        <div class="footer__text">
          <p>We provide capital solutions that help businesses thrive — today and tomorrow.</p>
        </div>
      </div>
    </div>
    <div class="footer__right">
      <a href="/" aria-label="Home" class="footer__logo">
        <img src="/images/footer-logo.svg" alt="Footer Logo" class="footer__logo-image" />
      </a>
      <div class="footer__info">
        <p class="footer__info-text">
          <a href="/" aria-label="Privacy and cookie policy">Privacy and cookie policy</a>
        </p>
        <p class="footer__info-text">
          © 2025 Shor Capital. <br />
          Website by <a href="#">Media Components</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
