<div
  id="popup-partner"
  aria-hidden="true"
  class="modal"
  role="dialog"
  aria-labelledby="modal-partner-title"
  style="--popups-width: 484px;"
>
  <div tabindex="-1" data-micromodal-close class="modal__body">
    <div class="modal__main">
      <button class="modal__close" type="button" data-micromodal-close aria-label="Close Modal">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
      <div class="modal__inner">
        <div class="modal__content">
          <h2 class="modal__title" id="modal-partner-title">Become a Partner</h2>
          <div class="modal__form">
            <script type="text/javascript" src="https://form.jotform.com/jsform/253374739606062"></script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
